<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Formulaire d'inscription au concours EPT</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row m-b-55">
                        <div class="name">Name</div>
                        <div class="value">
                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="first_name">
                                        <label class="label--desc">Prénom</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="last_name">
                                        <label class="label--desc">Nom</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">adresse</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="adresse" placeholder="Entrer votre adresse">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="email" name="email" placeholder="example@xyz.abc">
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">
                        <div class="name">tel candidat</div>
                        <div class="value">
                            <div class="row row-refine">

                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="phone-candidat" placeholder="Saisissez votre numéro de téléphone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row m-b-55">
                        <div class="name">tel parent</div>
                        <div class="value">
                            <div class="row row-refine">

                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="phone-parent" placeholder="Saisissez le numéro de téléphone de votre parent ou tuteur">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Etablissement</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="etablissement">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Série</div>
                        <div class="value">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search ">
                                    <select class="form-select" aria-label="Default select example" style="background-color: rgba(229,229,229,255);">
                                        <option selected="selected" disabled>Choose serie</option>
                                        <option value="1">Série S1</option>
                                        <option value="2">Série S2</option>
                                        <option value="3">Série S3</option>
                                        <option value="3">Série T1</option>
                                        <option value="3">Série T2</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row p-t-20">
                        <div class="form-row">
                            <div class="name">date de naissance</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="date" name="date-naiss">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Lieu de naissance</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="lieu-naiss">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Centre d'examen</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search ">
                                        <select class="form-select" aria-label="Default select example" style="background-color: rgba(229,229,229,255);">
                                            <option selected="selected" disabled>Choose center</option>
                                            <option value="d">Dakar(fac medecine UCAD)</option>
                                            <option value="e">Lycée S. Lymamoulaye</option>
                                            <option value="f">Lycée A. Sadji Rufisque</option>
                                            <option value="g">Lycée Keur Massar</option>
                                            <option value="h">LTAB Diourbel</option>
                                            <option value="i">CND Fatick</option>
                                            <option value="j">WND Kaolack</option>
                                            <option value="k">LMS Louga</option>
                                            <option value="l">LAS Tivaoune</option>
                                            <option value="m">LM Matam</option>
                                            <option value="n">LDD Mbour</option>
                                            <option value="o">LAP Saint Louis</option>
                                            <option value="p"> LMCM Tambacounda</option>
                                            <option value="q">LMB Kédougou</option>
                                            <option value="r">LMS Thiès</option>
                                            <option value="s"> LDJZ Ziguinchor</option>
                                            <option value="t">LEBND Podor</option>
                                            <option value="e">LAMB Kolda</option>
                                            <option value="f">Lycée Bambey</option>
                                            <option value="g">L. Ibou Diallo Sédhiou</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Option</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search ">
                                        <select class="form-select" aria-label="Default select example" style="background-color: rgba(229,229,229,255);">
                                            <option selected="selected" disabled>Choose option</option>
                                            <option value="a">Génie Civil</option>
                                            <option value="b">Génie Electromécanique</option>
                                            <option value="c">Génie Aéronautique</option>
                                            <option value="d">Génie Informatique et Télécommunication</option>
                                            <option value="c">Génie Industrielle</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Cocher la mention qui vous concerne</div>
                            <div class="value">
                                <div class="input-group">
                                    <label>
                                        <input type="radio" name="options" value="Candidat officiel au Bac"
                                            (click)="selectedValue = 'option1'">Candidat officiel au Bac
                                    </label>
                                    <label>
                                        <input type="radio" name="options" value="Bachelier"
                                            (click)="selectedValue = 'option2'">Bachelier
                                    </label>


                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedValue === 'option2'">
                            <div class="form-row">
                                <div class="name">Série</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="serie2" placeholder="Série">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Année d'obtention du Bac</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" name="anneeBac" placeholder="Année d'obtention du Bac">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="name">Mention</div>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="email" name="email" placeholder="Mention au Bac">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">nationnalité</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="nationnalite">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Bulletins</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="file" name="bulletins">
                                <label *ngIf="selectedValue === 'option1'">Scanner vos Bulletins de notes (1er semestre de la classe de terminale et les deux semestres des classes de Seconde et Première)</label>
                                <label *ngIf="selectedValue === 'option2'">Scanner vos Bulletins de notes (Deux semestres des classes de Seconde, Première et Termiale)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="selectedValue === 'option2'">
                        <div class="name">Diplôme du Bac</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="file" name="diplome">
                                <label>Scanner la photocopie légalisée de votre diplôme du Bac</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="selectedValue === 'option2'">
                        <div class="name">Relevé de notes du Bac</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="file" name="releve" style="border:none">
                                <label>Scanner la photocopie légalisée de votre Relevé de notes du Bac</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-between; ">
                        <button class="btn btn--radius-2 btn--green " type="submit ">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>